.newtask{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.newtask input {
  width: 100%;
  border: none;
  outline: none;
  background: var(--gray-500);
  color: var(--gray-300);
  height: 5.4rem;
  padding: 1.6rem;
  border-radius: 8px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.newtask button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border-radius: 8px;
  color: var(--gray-100);
  font-weight: 700;
  background: var(--blue-500);
  border: none;
  text-decoration: none;
  cursor: pointer;

  padding: 1.6rem;

  transition: background 0.2s;
}

.newtask button[type="submit"]:hover {
  background: var(--blue-300);
}