.newtask{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.newtask input {
  width: 100%;
  border: none;
  outline: none;
  background: var(--gray-500);
  color: var(--gray-300);
  height: 5.4rem;
  padding: 1.6rem;
  border-radius: 8px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.newtask input:focus {
  border: 1px solid var(--purple-500);
  color: var(--gray-200);
}

.newtask button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border-radius: 8px;
  color: var(--gray-100);
  font-weight: 700;
  background: var(--blue-500);
  border: none;
  text-decoration: none;
  cursor: pointer;

  padding: 1.6rem;

  transition: background 0.2s;
}

.newtask button[type="submit"]:hover {
  background: var(--blue-300);
}

.headertask {
  display: flex;
  justify-content: space-between;
  margin-top: 6.4rem;
  margin-bottom: 2.4rem;
}

.taskscreated {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.taskscreated p {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--blue-300);
}

.taskscreated span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
}

.taskcompleted {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.taskcompleted p {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--purple-300);
}

.taskcompleted span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
}

.task {
  background: var(--gray-400);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.6rem;
  gap: 1.2rem;
}

.checkboxWrapper input {
  display: none;
}

.checkboxWrapper input + label:before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 2px solid var(--blue-300);
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
}

.checkboxWrapper input:checked + label:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04LjQzMDU5IDAuMzQyMDkzTDQuMDk4NjUgNC42NzQwM0wxLjYxNjE4IDIuMTkxNTZMMC43ODAyNzMgMy4wMjc0N0w0LjA5ODY1IDYuMzQ1ODRMOS4yNjY0OSAxLjE3OEw4LjQzMDU5IDAuMzQyMDkzWiIgZmlsbD0iI0YyRjJGMiIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--purple-300);
  background-color: var(--purple-300);
}

.task p {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--gray-100);
}

.task button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
  transition: color 0.2s;
}

.task button:hover {
  color: var(--red-500);
}